{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155 }}
    {% else %}
        Welcome to ChoiceShop for shopping from A to Z....
    {% endif %}
{% endblock %}
{% block title %}
  {% if category %}
        {{category.name}} - CHOICE SHOP
    {% else %}
        See our new collection  -  CHOICE SHOP
    {% endif %}
{% endblock %}

{% block content %}
{%  if category %}

<div class="row my_row_class">
  <div class="mx-auto">
    <p><a href="{% url 'shop:allProdCat' %}">PRODUCT COLLECTION </a></p>
  </div>
</div>
{% endif %}
<div>
  {% if category %}
  <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1>
  <p class="text-justify">{{category.description}}</p>
</div>
  {% else %}
<div>
 <img class="my_image my_image_padding" src="{% static 'img/shopbanner.png' %}" alt="Our Products" style="width:1150px; height:500px;">
</div>
<br>
<div>
  <h1 class="text-center my_title">Our Product Collection</h1>
  <p class="text-justify">To succeed in ecommerce, you need three things: high-demand products to sell, the skills to market them, and the drive to succeed.

You already have the winner’s mindset—you’re continually learning, researching, and preparing for success. But finding popular products to sell
    can be a challenge. That’s why we update this list every year to help you uncover new trending product ideas.</p>

</div>
{% endif %}
<div class="container">
  <div class="row mx_auto">
      {% for product in products %}
      <div class="my_bottom_margin col-9 col-sm-12 col-md-6 col-lg-6">
        <div class="card text-center" style="min-width:18rem;">
          <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" style="width:300px; height:300px;">&emsp;</a>
          <div class="card-body">
            <h1>{{product.name}}</h1>
            <p>{{product.price}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}<hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light bt-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>

</div>

{% endblock %}
